body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("grookey.png");
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: absolute;
    background-repeat: no-repeat;
}

header {
    background-color: #eb1a1a;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 5px solid black;
}

.container {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    background-color: #706f6f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
    margin-bottom: 30px;
}

.form-section h2 {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #2a75bb;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="number"] {
    padding: 10px;
    border: 2px solid #2a75bb;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #eb1a1a;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b01515;
    transform: scale(1.01);
    transition: transform 0.3s;
}

.team-section {
    margin-top: 30px;
}

.team-section h2 {
    color: white;
}

.pokemon-card {
    display: inline-block;
    background-color: #eb1a1a;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    cursor: default;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pokemon-card:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}
